**/build/**
**/elm-stuff/build-artifacts
**/elm-stuff/packages
**/elm-stuff/generated-code
**/yarn-error.log
todo-fsharp/tests/app.Tests/obj
todo-fsharp/tests/app.Tests/bin
todo-fsharp/src/app/obj
todo-fsharp/src/app/bin
